
<nav class="navbar navbar-dark navMenu mb-5">
  <a id='return-home-in-header' class="navbar-brand" href="/">SEConf</a>
  <div class="navbar-expand mr-auto">
    <div id="nav-menu-header" class="navbar-nav">
      <a id="places-menu-item" class="nav-item nav-link" routerLink="/places" routerLinkActive="active" i18n>Places</a>
      <a id="users-menu-item" class="nav-item nav-link" routerLink="/users" routerLinkActive="active" i18n>Users</a>
      <a id="cons-menu-item" class="nav-item nav-link" routerLink="/directives" routerLinkActive="active" i18n>Directives</a>
      <a id="events-menu-item" class="nav-item nav-link" routerLink="/events" routerLinkActive="active" i18n>Events</a>
      <a id="patrols-menu-item" class="nav-item nav-link" routerLink="/rondier" routerLinkActive="active" i18n>Patrol</a>
      <a id="equipments-menu-item" class="nav-item nav-link" routerLink="/materiel" routerLinkActive="active" i18n>Inventory</a>
      <a id="docs-menu-item"  class="nav-item nav-link" routerLink="/document" routerLinkActive="active" i18n>Documents</a>
    </div>
  </div>

</nav>

