<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">MCConf</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
     <a class="nav-item nav-link" routerLink="/places" routerLinkActive="active">Lieux</a>
     <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
     <a class="nav-item nav-link" routerLink="/consignes" routerLinkActive="active">Consignes</a>
     <a class="nav-item nav-link" routerLink="/editionEvenement" routerLinkActive="active">Evenements</a>
     <a class="nav-item nav-link" routerLink="/rondier" routerLinkActive="active">Rondier</a>
     <a class="nav-item nav-link" routerLink="/materiel" routerLinkActive="active">Materiels</a>
     <a class="nav-item nav-link" routerLink="/document" routerLinkActive="active">Documents</a>
    </div>
  </div>

</nav>
