
<nav class="navbar navbar-dark bg-dark mb-5">
  <a id='return-home-in-header'class="navbar-brand" href="/">SEConf</a>
  <div class="navbar-expand mr-auto">
    <div id="nav-menu-header" class="navbar-nav">
      <a id="places-menu-item" class="nav-item nav-link" routerLink="/places" routerLinkActive="active" i18n>Lieux</a>
      <a id="users-menu-item" class="nav-item nav-link" routerLink="/users" routerLinkActive="active" i18n>Users</a>
      <a id="cons-menu-item" class="nav-item nav-link" routerLink="/consignes" routerLinkActive="active" i18n>Consignes</a>
      <a id="events-menu-item" class="nav-item nav-link" routerLink="/editionEvenement" routerLinkActive="active" i18n>Evenements</a>
      <a id="patrols-menu-item" class="nav-item nav-link" routerLink="/rondier" routerLinkActive="active" i18n>Rondier</a>
      <a id="equipments-menu-item" class="nav-item nav-link" routerLink="/materiel" routerLinkActive="active" i18n>Materiels</a>
      <a id="docs-menu-item"  class="nav-item nav-link" routerLink="/document" routerLinkActive="active" i18n>Documents</a>
    </div>
  </div>

</nav>
