<div class="col-xl-12 " id="edit-event-model-panel">
  <div class="row">
    <div class="panel panel-primary col-xl-1" id="edit-event-model-list">
      <div class="row">
        <h3 class="panel-title col-xl-9" i18n>Events</h3>
        <i class="fas fa-toggle-on col-xl-1" *ngIf="simulation" (click)="switchSimulation()"></i>
        <i class="fas fa-toggle-off col-xl-1" *ngIf="!simulation" (click)="switchSimulation()"></i>
      </div>
      <div *ngFor="let event of eventModelList">
        <div (click)="setEvent(event)">{{event.name}}</div>

      </div>
    </div>
    <div *ngIf="eventModel" class="col-xl-8">
      <div class="panel panel-primary" id="edit-event-model-lines">
        <div class="panel-heading"  id="edit-event-model-name">
          <h3>

            <input *ngIf="!(simulation)" type="text" class="form-control" title="Nom de l'evenement"
                   placeholder="{{eventModel.name}}" [(ngModel)]="eventModel.name" name="eventTitle"/>

            <label *ngIf="(simulation)">{{eventModel.name}}</label>

          </h3>

        </div>
        <div class="panel-body" >
          <div *ngFor=" let lineModel of eventModel.lineModels"  class="edit-event-model-lines-model-list">

            <div class="col-xl-12">

              <h4 *ngIf="!lineModel.input"><input type="text" class="form-control" [(ngModel)]="lineModel.name"
                                                  name="{{lineModel.name}}"/></h4>


              <event-model-line-form *ngIf="lineModel.input" [lineModel]="lineModel"></event-model-line-form>
              <button *ngIf="!(simulation)" type="button" class="col-xl-12  btn btn-default"
                      (click)="addLine(lineModel.order)" i18n>
                Add input line
              </button>
            </div>

          </div>
          <button *ngIf="!(simulation)" class="col-xl-12  btn btn-default" (click)="addTitleLine()">
            Add title line
          </button>
        </div>
      </div>
      <div id="edit-event-model-actions">
        <button id="create-event-btn" type="button" class="btn btn-default" (click)="save()" i18n>
          Save
        </button>
        <button id="cancel-event-btn" type="button" class="btn btn-default" (click)="cancel()" i18n>
          Cancel
        </button>
      </div>
    </div>
    <div class="col-xl-3">
      <h3 class="panel-title">Edit</h3>
      <edit-component-model></edit-component-model>

    </div>
  </div>
</div>
