<form class="lineModel row">
  <div *ngFor="let component of lineModel.componentModels"  [ngSwitch]="component.type.name" class="line-model-component-list col-xl-{{component.width}} ">
    <div class="line-model-component-list-component-header">
      <label class="line-model-component-list-component-header-label">{{component.label}}

      </label>
      <i class="far fa-edit edit-component" *ngIf="!simulation" (click)="setSelectedElement(component);" ></i>
      <i class="fas fa-times remove-component" *ngIf="!simulation" (click)="removeElement(component);"></i>

    </div>
    <div class="input-group col-xl-12 line-model-component-list-component-input" >

      <input *ngSwitchCase="'simpleText'" type="text" class="form-control" title="{{component.help}}"
             [(ngModel)]="component.value" name="eventAttribute" [required]="component.mandatory"/>

      <input type="checkbox" *ngSwitchCase="'checkbox'" class="form-control" title="{{component.help}}"
             [(ngModel)]="component.value" name="eventAttribute" [required]="component.mandatory"/>

      <input type="text" *ngSwitchCase="'textArea'" class="form-control" title="{{component.help}}"
             [(ngModel)]="component.value" name="eventAttribute" [required]="component.mandatory"/>

      <select *ngSwitchCase="'select'" class="form-control" title="{{component.help}}"
              [(ngModel)]="component.value" name="eventAttribute" [required]="component.mandatory">
        <option *ngFor="let value of component.values" [value]="value">{{value}}</option>
      </select>

      <input *ngSwitchCase="'number'" type="text" class="form-control" title="{{component.help}}"
             [(ngModel)]="component.value" name="eventAttribute" [required]="component.mandatory"/>
    </div>
    <label *ngIf="component.mandatory" class="alert-danger">{{component.message}}</label>
  </div>

  <div *ngIf=" totalComponentWidth !== MAX_SLOT_FOR_LINE && !simulation" class="col-xl-1 line-model-component-list-add-component">
    <i class="far fa-plus-square" (click)="addElement();"></i>
  </div>
</form>
