<form class="lineModel row">
  <div *ngFor="let component of lineModel.elements"  [ngSwitch]="component.type" class="col-xl-{{component.width}} ">
    <div >
    <label class="label-component">{{component.label}}

      </label>
      <i class="far fa-edit edit-component" (click)="setSelectedelement(component);" ></i>
               <i class="fas fa-times remove-component" (click)="removeElement(component);"></i>

    </div>
      <div class="input-group col-xl-12">
        <input *ngSwitchCase="'simpleText'" type="text" class="form-control" title="{{component.help}}"
               [(ngModel)]="component.value" name="eventAttribute" [required]="component.mandatory"/>

        <input type="checkbox" *ngSwitchCase="'checkbox'" class="form-control" title="{{component.help}}"
               [(ngModel)]="component.value" name="eventAttribute" [required]="component.mandatory"/>

        <input type="text" *ngSwitchCase="'textArea'" class="form-control" title="{{component.help}}"
               [(ngModel)]="component.value" name="eventAttribute" [required]="component.mandatory"/>

        <select *ngSwitchCase="'choixMultiple'" class="form-control" title="{{component.help}}" id="power"
                [(ngModel)]="component.value" name="eventAttribute" [required]="component.mandatory">
          <option *ngFor="let value of component.values" [value]="value">{{value}}</option>
        </select>

        <input *ngSwitchCase="'number'" type="text" class="form-control" title="{{component.help}}"
               [(ngModel)]="component.value" name="eventAttribute" [required]="component.mandatory"/>
      </div>
      <label *ngIf="component.mandatory" class="alert-danger">{{component.message}}</label>
    </div>

  <div *ngIf=" number !== 12 && !simulation" class="col-xl-1" id="addComponent">
   <button type="button" class="  btn btn-default" (click)="addElement();">
     <i class="far fa-plus-square"></i>
   </button>
  </div>
</form>


