<form class="lineModel row">
  <div *ngFor="let component of lineModel.elements"  [ngSwitch]="component.type" class="col-xl-{{component.width}} ">
      <label><label *ngIf="component.mandatory">*</label>{{component.label}}</label>

      <div class="input-group col-xl-12 {{(component == selectedElement )?'has-success':''}}">
        <input *ngSwitchCase="'simpleText'" type="text" class="form-control" title="{{component.help}}"
               [(ngModel)]="component.value" name="eventAttribute"/>

        <input type="checkbox" *ngSwitchCase="'checkbox'" class="form-control" title="{{component.help}}"
               [(ngModel)]="component.bvalue" name="eventAttribute"/>

        <input type="text" *ngSwitchCase="'textArea'" class="form-control" title="{{component.help}}"
               [(ngModel)]="component.value" name="eventAttribute"/>

        <select *ngSwitchCase="'choixMultiple'" class="form-control" title="{{component.help}}" id="power"
                [(ngModel)]="component.value" name="eventAttribute">
          <option *ngFor="let value of component.values" [value]="value">{{value}}</option>
        </select>

        <input *ngSwitchCase="'number'" type="text" class="form-control" title="{{component.help}}"
               [(ngModel)]="component.value" name="eventAttribute"/>
        <span *ngIf="!simulation" class="input-group-btn ">
        			<button class="btn btn-default"
                      (click)="setSelectedelement(component);" type="button">
               <i class="far fa-edit "></i>
              </button>
        			 <button type="button" class="btn btn-default"
                       (click)="removeElement(component);">
                 <i class="fas fa-times"></i>
               </button>
      			</span>
      </div>
      <label *ngIf="component.mandatory" class="alert-danger">{{component.message}}</label>
    </div>

  <div *ngIf=" number !== 12 && !simulation" class="col-xl-1" id="addComponent">
   <button type="button" class="  btn btn-default" (click)="addElement();">
     <i class="far fa-plus-square"></i>
   </button>
  </div>
</form>


