<form class="col-md-12">
  <div *ngFor="let component of lineModel.elements">
    <div [ngSwitch]="component.type" class="col-md-{{component.width}}">
      <label><label *ngIf="component.mandatory">*</label>{{component.label}}</label>

      <div class="input-group col-md-12 {{(component == selectedElement )?'has-success':''}}">
        <input *ngSwitchCase="'simpleText'" type="text" class="form-control" title="{{component.help}}"
               [(ngModel)]="component.value" name="eventAttribute"/>

        <input type="checkbox" *ngSwitchCase="'checkbox'" class="form-control" title="{{component.help}}"
               [(ngModel)]="component.bvalue" name="eventAttribute"/>

        <input type="text" *ngSwitchCase="'textArea'" class="form-control" title="{{component.help}}"
               [(ngModel)]="component.value" name="eventAttribute"/>

        <select *ngSwitchCase="'choixMultiple'" class="form-control" title="{{component.help}}" id="power"
                [(ngModel)]="component.value" name="eventAttribute">
          <option *ngFor="let value of component.values" [value]="value">{{value}}</option>
        </select>

        <input *ngSwitchCase="'number'" type="text" class="form-control" title="{{component.help}}"
               [(ngModel)]="component.value" name="eventAttribute"/>
        <span *ngIf="!simulation" class="input-group-btn ">
        			<button class="btn btn-default glyphicon glyphicon-pencil btn-to-adjust"
                      (click)="setSelectedelement(component);" type="button"></button>
        			 <button type="button" class="glyphicon glyphicon-plus btn btn-default btn-to-adjust"
                       (click)="removeElement(component);"></button>
      			</span>
      </div>
      <label *ngIf="component.mandatory" class="alert-danger">{{component.message}}</label>
    </div>
  </div>
  <div *ngIf=" number !== 12 && !simulation" class="col-md-1">
    <label>Add</label>
    <button type="button" class="glyphicon glyphicon-plus btn btn-default" (click)="addElement();"></button>
  </div>
</form>


