<div class="panel panel-primary" id="panel-line">
  <div class="panel-heading">
    <h3 class="panel-title">{{eventModel.name}}</h3>
  </div>
  <div class="panel-body line">
    <div *ngFor="component of currentLine.composant">
      <div class="col-xl-{{component.with}}">
        <div *ngIf="component.type.name == 'choixMultiple'">
          <select class="form-control" id="power" required [(ngModel)]="componant.value" name="power">
            <option *ngFor="let value of component.values" [value]="value">{{state}}</option>
          </select>
        </div>
        <div *ngIf="component.type.name == 'simpleText'">
          <input type="text" class="form-control" id="name" required [(ngModel)]="component.value"
                 name="{{component.label}}">
        </div>
        <div *ngIf="component.type.name == 'textArea'">
          <input type="text" class="form-control" id="name" required [(ngModel)]="component.value"
                 name="{{component.label}}">
        </div>
        <div *ngIf="component.type.name == 'textArea'">
          <input type="text" class="form-control" id="name" required [(ngModel)]="component.value"
                 name="{{component.label}}">
        </div>
        <div *ngIf="component.type.name == 'number'">
          <input type="text" class="form-control" id="name" required [(ngModel)]="component.value"
                 name="{{component.label}}">
        </div>
        <div>
          <input type="checkbox" class="form-control" id="name" required [(ngModel)]="component.value"
                 name="{{component.label}}">
        </div>
        <div *ngIf="component.error">

        </div>
        <event-line-form [line]="line"></event-line-form>

      </div>

    </div>
  </div>
