
<form #userForm="ngForm" (ngSubmit)="createUser()">
  <div class="row">
<div class="col-xl-2">
	<!--<label for="lastname">Nom</label>-->
	<input type="text" class="form-control" id="lastname"
         required placeholder="lastname"
         [(ngModel)]="user.lastname" name="lastname"  [disabled]="!edit">
  <!--<div [hidden]="lastname.valid || lastname.pristine"
           class="alert alert-danger">
        Le nom est obligatoire
      </div>-->
</div>
  <div class="col-xl-2">
	<!--<label for="firstname">Prenom</label>-->
	<input type="text" class="form-control" id="firstname"
         required placeholder="firstname"
         [(ngModel)]="user.firstname" name="firstname"  [disabled]="!edit">
</div>
  <div class="col-xl-2">
	<!--<label for="matricule">Matricule</label>-->
	<input type="text" class="form-control" id="matricule"
         required placeholder="Matricule"
         [(ngModel)]="user.matricule" name="matricule"  [disabled]="!edit">
</div>
  <div class="col-xl-2">
	<!--<label for="identifiant">Identifiant</label>-->
	<input type="text" class="form-control" id="email"
         required placeholder="email"
         [(ngModel)]="user.email" name="email"  [disabled]="!edit">
</div>
  <div class="col-xl-2">
	<!--<label for="mdp">Mdp</label>
	<input type="text"  class="form-control" id="mdp"
       required placeholder="Mot de passe"
       [(ngModel)]="user.mdp" name="mdp">
</div>
<div class="col-xl-3">
	<!--<label for="lastname">position</label>-->
</div>
    <button *ngIf="!edit" type="button" class="btn btn-default" (click)="edit = true">
      <i class="far fa-edit fa-lg"></i>
    </button>
  <button *ngIf="edit" type="submit" class="btn btn-default" [disabled]="!userForm.valid">
    <i class="fas fa-check"></i>
  </button>
  <button *ngIf="edit" type="button" class="btn btn-default" (click)="reset()">
    <i class="fas fa-times"></i>
  </button>
  
  </div>
</form>

