<div class="row">
  <div class="col-xl-2">
  </div>
  <div class="col-xl-8">
    <h3 class="panel-title col-xl-9" i18n>Login</h3>
    <form #loginForm="ngForm" (submit)="login()">
      <div>
        <label  i18n>Login</label>
        <input  type="text" class="form-control" name="Login"
                [(ngModel)]="user.email" required />
      </div>
      <div>
        <label  i18n>Password</label>
        <input type="password" class="form-control" name="width" [(ngModel)]="user.password" required/>
      </div>

    <p>
      <button class="btn btn-primary" type="submit">Sign in</button>
    </p>
    </form>
  </div>
  <div class="col-xl-2">
  </div>
</div>
