<link rel="stylesheet" href="../assets/configuration.scss">
<div class="col-md-12">
  <div id="col-md-10 col-md-offset-1">
    <div class="col-md-12">
      <h1 class="page-header">Configurateur</h1>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="col-md-10 col-md-offset-1">
    <ul class="nav nav-pills">
      <li role="presentation"><a routerLink="/places" routerLinkActive="active">Lieux</a></li>
      <li role="presentation"><a routerLink="/users" routerLinkActive="active">Users</a></li>
      <li role="presentation"><a routerLink="/consignes" routerLinkActive="active">Consignes</a></li>
      <li role="presentation"><a routerLink="/editionEvenement" routerLinkActive="active">Evenements</a></li>
      <li role="presentation"><a routerLink="/rondier" routerLinkActive="active">Rondier</a></li>
      <li role="presentation"><a routerLink="/materiel" routerLinkActive="active">Materiels</a></li>
      <li role="presentation"><a routerLink="/document" routerLinkActive="active">Documents</a></li>
    </ul>
  </div>
</div>
<div class="col-md-12">
  <div class="col-md-10 col-md-offset-1">
    <router-outlet></router-outlet>
  </div>

</div>

