<div *ngIf="selectedPlace">
  <div class="place-row place-row-lvl-{{level}}" *ngIf="!(edit)">
	<div class="input-group">
		<div class="form-control bottom-minus-one deactivate-input-bootstrap-css" data-toggle="collapse" [attr.data-target]="'#row' +selectedPlace._id" aria-expanded="false" [attr.aria-controls]="selectedPlace._id" (click)="expanded = !expanded">
		   {{selectedPlace.name}}
      <div class="chevron-place" *ngIf="selectedPlace.placeChildren && selectedPlace.placeChildren.length > 0">
      <i class="fas fa-angle-down fa-lg " *ngIf="(expanded)" ></i>
      <i class="fas fa-angle-up fa-lg"   *ngIf="!(expanded)"> </i>
      </div>
      </div>
	  	<div class="input-group-append">

		  <button type="button" class="btn btn-primary btn-outline-secondary" (click)="setEdition(true)">
        <i class="far fa-edit fa-lg"></i>
		  </button>
        <button type="button" class="btn btn-secondary btn-outline-secondary" (click)="addSomething(selectedPlace)">
          <i class="far fa-plus-square fa-lg"></i>
        </button>

  		</div>
	</div>
  </div>
  <div class="place-row place-row-lvl-{{level}}" *ngIf="(edit)">
		 <form #changePlaceNameForm="ngForm" (ngSubmit)="validateChange()" class="input-group">
         <input  type="text" class="form-control " [(ngModel)]="selectedPlace.name" name="name" required >
       <div class="input-group-append">
			     <button  type="submit" [disabled]="!changePlaceNameForm.valid" class="btn btn-outline-secondary btn-primary" >
             <i class="fas fa-check fa-lg"></i>
           </button>
		  		 <button  type="button" class="btn btn-secondary btn-outline-secondary"  (click)="setEdition(false)" >
             <i class="fas fa-times"></i>
           </button>
			  </div>
		</form>
  </div>
    <div class="collapse" id="row{{selectedPlace._id}}">
	   	<div *ngFor="let place of selectedPlace.placeChildren">
	  	 	<app-place-detail [level]="getlevel()+1" [selectedPlace]="place"></app-place-detail>
	  	</div>
  </div>
</div>
 
