
<div class="row">
<div id="place-liste-panel" class="col-xl-9">
  <div class="panel panel-primary">
   <div class="panel-body">
      <div *ngIf="site && site.placeRoot">
        <place-detail [level]="0" [selectedPlace]="site.placeRoot"></place-detail>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3" >
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Ajout <span *ngIf="selectedPlace">{{selectedPlace.name}}</span></h3>
    </div>
    <div class="panel-body">
      <div *ngIf="selectedPlace">
        <add-place [level]="level" [selectedPlace]="selectedPlace"></add-place>
      </div>
    </div>
  </div>
</div>
</div>

<!--</ul>-->
