#edit-event-model-actions,#addComponent{
  float:right;
}
.edit-component{
  margin-right:10px;
}
.line-model-component-list-component-header-label{
  width: 80%;
}
#edit-event-model-lines{
  height:555px;
}
