#planel-lieu-gauche{
	width:69%;
	height:100%;
	float:left;
}
#planel-lieu-droite{
	width:29%;
	height:100%;
	float:left;
	margin-left :10px;
}
.deactivate-input-bootstrap-css{
	cursor:default;
	
}
.place-row{
	float:right;
	clear: both;
}
.place-row-lvl-0{
	width:100%;
}
.place-row-lvl-1{
	width:90%;
}
.place-row-lvl-2{
	width:80%;
}
.place-row-lvl-3{
	width:70%;
}
.place-row-lvl-4{
	width:60%;
}
.place-row-lvl-5{
	width:50%;
}
.bottom-minus-one{
	bottom:-1;
}