#place-liste-panel{
  overflow-y: auto;
  height: 440px;
}
#planel-lieu-droite{
	width:29%;
	height:100%;
	float:left;
	margin-left :10px;
}
.deactivate-input-bootstrap-css{
	cursor:default;

}
.place-row{
	float:right;
	clear: both;
}
.place-row-lvl-0{
	width:100%;
}
.place-row-lvl-1{
	width:90%;
}
.place-row-lvl-2{
	width:80%;
}
.place-row-lvl-3{
	width:70%;
}
.place-row-lvl-4{
	width:60%;
}
.place-row-lvl-5{
	width:50%;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.chevron-place{
  float:right;
}
.btn-place-action{
  width: 48%;
  margin-left: 1px;
}
